.sectionBox {
  max-width: "100%";
  margin: auto;
  font-family: fantasy;
  background-color: blanchedalmond;
  color: cornflowerblue;
}
.pageAlignment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvasBox {
  border: "1px solid #ccc";
  cursor: "crosshair";
  max-width: "100%";
}
.croppedImageBox {
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.croppedImage {
  border: "1px solid #ccc";
  max-width: "100%";
}
